
{
  "presets": [
    ["es2015", {"modules": false}],
    "stage-2",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-assign",
    "transform-decorators-legacy",
    ["transform-runtime", ["import", {"libraryName": "antd","style": true}], {"polyfill": false, "regenerator": true}]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}