.admin {

}
.admin-nav {
  ul {
    display: flex;
    justify-content: flex-start;
    li {
      margin: 0 5px;
    }
    a {
      padding: 5px;
    }
  }
}
.active {
  color: #ff6600;
}
table {
  border: none !important;
}
th, td {
  text-align: center !important;
  border-right: none !important;
}