.left-menu {
  background: rgb(64, 64 ,64);
  width: 13%;
  height: 100%;
  h3 {
    height: 44px;
    line-height: 44px;
    background: #000;
    color: #ea8010;
    padding-left: 14px;
    font-size:18px;
    border-bottom: 1px solid #ea8010;
  }
  .nav {
    font-size: 16px;
    font-weigth: 400;
    li {
      height: 44px;
      line-height: 44px;
      a {
        display: block;
        padding-left: 14px;
        width: 100%;
        height: 100%;
        color: #fff;
      }
      .active {
        background: rgb(36, 35, 40);
        color: mediumvioletred;
      }
    }
  }
}